@font-face {
  font-family: BrownSugar;
  src: url(fonts/BrownSugar);
}

:root {
  --primary-color: #1a1818;
  --background-color: #ece7e1;
}

h1 {
  font-family: BrownSugar;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

p {
  font-weight: normal;
}

.section-one {
  background: var(--background-color);
  text-align: center;
  padding: 170px 20px;
}

.section-one h1 {
  font-size: 120px;
  margin: 0;
}

.section-one h2 {
  font-size: 30px;
  margin: 0;
}

.section-two {
  background: white;
  text-align: center;
  padding: 40px 20px 70px 20px;
}

.section-three {
  background: var(--background-color);
  text-align: center;
  padding: 70px 20px;
}

.section-four {
  background: white;
  text-align: center;
  padding: 70px 20px;
}

.portfolio {
  font-family: BrownSugar;
  text-align: center;
  font-size: 50px;
  padding: 80px 20px 20px 20px;
}

.project {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 60px 60px;
}

.project h2 {
  font-size: 25px;
}

.project p {
  font-size: 17px;
}

.contact-button {
  background: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  font-size: 17px;
  padding: 15px 30px;
}
.learnmore-button {
  background: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  padding: 15px 30px;
}

.images {
  width: 400px;
}

.aboutme {
  padding: 0 200px 0 0;
}

.aboutme-image {
  width: 300px;
}

@media (max-width: 900px) {
  .section-one h1 {
    font-size: 80px;
  }

  .section-two {
    padding: 0px 20px 20px 20px;
  }

  .section-three {
    padding: 20px 20px;
  }

  .section-four {
    padding: 20px 20px;
  }

  .portfolio {
    font-size: 40px;
    padding: 80px 20px 10px 20px;
  }
}
